/*this is the place where we should edit style for our document*/

body {
  font-family: arial;
  font-size: 14px;
  background-color: #eee;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.editor, .result {
  display: flex;
  flex-direction: column;
  width: 40%;
  border-radius: 20px;
  border: 2px solid rgba(0, 0, 0, .4);
  box-shadow: 1px 4px 5px rgba(0, 0, 0, .4);
  background-color: white;
}

.result {
  margin-left: 10px;
  padding: 40px 20px;
}

.editor-header {
  display: flex;
  flex-direction: row;
  height: 70px;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid rgba(0, 0, 0, .4);
  background-color: #eee;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.editor-body {
  display: block;
  min-height: 300px;
  width: 95%;
  margin: 0 auto;
  padding: 30px 0;
  overflow: auto;
}

.editor-footer {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  border-top: 2px solid rgba(0, 0, 0, .4);
}

li {
  list-style-type: none;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a {
  text-decoration: none;
  background-color: pink;
  padding: 0 2px;
  font-weight: bold;
}

a:hover {
  cursor: pointer;
}
